.head{
	background: #f5f5f5;
	font-size: 14px;
	padding: 8px;
}

.description {
	width: 66%;
    display: inline-block;
    margin-left: 10px;
	position: absolute;
	top: 10px;
}

.description span{
	display: block;
}

.price span{
	padding: 10px 0;
	color: #108ee9;
	display: inline-block;
}

.info{
	color: #666;
}

.title{
	color: #000;
}

.buyBtn, .number{
	display: inline-block;
	float: right;
    padding: 0 20px;
}

.price{
	display: inline-block;
	font-size: 15px;
}

.product{
	padding: 10px;
	border-bottom: 1px solid #f1ebeb;
	position: relative;
}

.number{
	padding-top: 3px; 
}

.image{
	width: 30%;
    height: 100%;
    display: inline-block;
    overflow: hidden;
}

.image img{
	width: 100%;
}

.headTitle{
	padding: 10px;
    font-size: 16px;
    vertical-align: middle;
	color: #333;
}